@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #023047;
  background-color: #fefae0;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
